:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --primary-color: #00ff7f; /* Verde Neón */
    --secondary-color: #000000; /* Negro */
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-mono);
    background: linear-gradient(to bottom, #000000, #004d00); /* Degradado Negro a Verde Oscuro */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: var(--primary-color);
    text-shadow: 2px 2px 10px var(--primary-color);
}

form {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 255, 127, 0.5);
}

form label {
    width: 100%;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.3em;
    margin-bottom: 0.5em;
}

form input {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    transition: var(--transition);
}

form input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--primary-color);
}

form input[type='submit'] {
    margin-top: 1.5em;
    background-color: var(--primary-color);
    color: #000;
    font-family: var(--font-mono);
    font-weight: bold;
    transition: var(--transition);
    cursor: pointer;
}

form input[type='submit']:hover {
    background-color: #00cc66;
    transform: scale(1.05);
}

form input[type='submit']:active {
    transform: scale(0.97);
}

p {
    margin-top: 1.5em;
    color: #fff;
}

p a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: var(--transition);
}

p a:hover {
    color: #00cc66;
    text-shadow: 0px 0px 10px var(--primary-color);
}
